ErrorDocument 404 / err404.html

RewriteEngine On

RewriteCond %{SERVER_PORT} !^443$

RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteEngine on

 # Если запрашиваемый объект не папка

RewriteCond %{REQUEST_FILENAME} !-d

 # если запрашиваемый объект с дописанным расширением php - файл

RewriteCond %{REQUEST_FILENAME}\.php -f

 # делаем замену с дописыванием .php

RewriteRule ^(.*)$ $1.php